* { 
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.grid{
    margin: 1rem;
    display: grid;
    gap: 1em;
}

.grid-item{
    padding: 0.5em;
    border: 2px solid #234;
}

/* @media(width > 35em) and (width < 50em){ solo funciona en mozilla */
@media(min-width: 35em) and (max-width: 50em){
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(min-width: 50em){
    .grid{
        grid-template-columns: repeat(6, 1fr);
    }
}